extends layout

block content
  #title-container
    h1#title #{title}
  .chart-container
    .result-container(style=('display:none;'))
      .bar
      .pollen-value
    .animation-container
      - var n = 0;
      while n < 8
        .bar.animated-bar
        - n++;

  script(async src='/javascript/randomChart.js')
  script(async src='/javascript/index.js')

