doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='The pollen count of the future, today!')
    link(rel='stylesheet', href='/stylesheets/style.css')

    body
    block content
