doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='The pollen count of the future, today!')
    link(rel="apple-touch-icon", sizes="180x180", href="/images/icon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/icon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/icon/favicon-16x16.png")
    link(rel='icon', href='/images/icon/favicon.ico')
    link(rel="mask-icon", href="/images/icon/safari-pinned-tab.svg", color="#00c540")
    link(rel='stylesheet', href='/stylesheets/style.css')

    body
    block content
