$main-background-color: #BC8D2F;
$chart-color: #38A31D;
$title-color: #E7E5DF;

#title {
  color: $title-color;
  font-size: 5vw;
  text-align: center;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $main-background-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.charts-container {
  display: flex;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 5vw;
}

.chart-container {
  height: 100%;

  .bar {
    background-color: $chart-color;
  }

  .animation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    .bar.animated-bar {
      width: 100px;
      /* set the default transition time */
      --animation-time: 2s;

      animation: 2s ease alternate infinite rise;
      animation: var(--animation-time) ease alternate infinite rise;
    }
  }

  .result-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;

    .bar {
      --bar-height: 0%;
      height: var(--bar-height);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes bar {
        0% {
          height: 0;
        }
        100% {
          height: var(--bar-height);
        }
      }
    }

    .pollen-value {
      font-size: 5vw;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  .pollen-name {
    font-size: 4vw;
    text-align: center;
  }
}

@keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: 100%
  }
}

@keyframes rise-text {
  0% {
    font-size: 0vw;
  }
  100% {
    font-size: 5vw;
  }
}
