$main-background-color: #BC8D2F;
$chart-color: #38A31D;
$title-color: #E7E5DF;

#title {
  color: $title-color;
  font-size: 3em;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $main-background-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chart-container {
  height: 60%;

  @media (min-width: 768px) {
    height: 70%;
  }

  .bar {
    background-color: $chart-color;
  }

  #animation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    .bar.animated-bar {
      width: 100px;
      /* set the default transition time */
      --animation-time: 2s;

      animation: 2s ease alternate infinite rise;
      animation: var(--animation-time) ease alternate infinite rise;
    }
  }

  #result-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;

    .bar {
      --bar-height: 0px;
      height: var(--bar-height);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes bar {
        0% {
          height: 0;
        }
        100% {
          height: var(--bar-height);
        }
      }

      .pollen-value {
        font-size: 3em;
      }
    }
  }
}

@keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: 100%
  }
}

@keyframes rise-text {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 3em;
  }
}
